* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  display: flex;
  width: 800px;
  height: 800px;
  border: 1px black solid;
  margin: auto;
}

.board {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.field {
  background-color: antiquewhite;
  width: 100px;
  height: 100px;
}

.black {
  background-color: sienna;
}

.white {
  background-color: antiquewhite;
}
