* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}
.container {
  display: flex;
  width: 800px;
  height: 800px;
  border: 30px rgb(121, 85, 72) solid;
  margin: auto;
}

.board {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.field {
  background-color: antiquewhite;
  width: 100px;
  height: 100px;
  transition: 0.2s ease-in;
}
.field:hover {
  transform: scale(1.05);
  box-shadow: 0 0 15px 1px aqua;
  cursor: pointer;
}

.black {
  background-color: sienna;
}

.white {
  background-color: antiquewhite;
}

.highlight {
  background-color: lightblue;
}
